@font-face {
  font-family: "Blatant";
  src: url("./font/Blatant.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Blatant";
  src: url("./font/Blatant-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Blatant";
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  background-color: #f8f7f4;
  width: 100vw;
  padding: 5px 3%;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.2);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-left img {
  height: 100px;
  cursor: pointer;
}

.nav-left h1 {
  color: #0d0c22;
  font-size: 45px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-right a {
  font-size: 22px;
  color: #0d0c22;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-right a.active {
  color: #fe633d;
}

.nav-right a:hover {
  color: #fe633d;
}

.nav-right button {
  width: 140px;
  border-radius: 20px;
  font-size: 18px;
  padding: 12px 18px;
  background-color: #fe633d;
  color: white;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav-right button:hover {
  background-color: #f04216;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main p.heading {
  margin-top: 60px;
  font-size: 45px;
  color: #333;
  margin-bottom: 50px;
}

/* Media */

.video-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.video-section-left {
  padding-top: 25px;
  height: 550px;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}

.video-section p {
  margin-top: 15px;
  font-size: 16px;
  color: #767676;
}

.video-container {
  position: relative;
  display: inline-block;
  width: 730px;
  height: 398px;
  margin-bottom: 15px;
}
.video-container iframe {
  width: 728px;
  height: 398px;
  overflow-y: hidden;
}
.video-thumbnail {
  position: absolute;
  display: block;
  width: 103%;
  height: auto;
  cursor: pointer;
  z-index: 3;
}

.play-btn {
  overflow: hidden;
  position: absolute;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0057b0;
  color: #fff;
  border-radius: 50%;
  animation: pulse 1.5s cubic-bezier(0, 0.7, 0.3, 1) forwards infinite;
  z-index: 5;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff80;
  }
  100% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
}

.play-btn .material-symbols-rounded {
  font-size: 4.5rem;
  font-variation-settings: "FILL" 1;
}

@media (max-width: 600px) {
  .video-section {
    height: 350px;
  }

  .video-container {
    width: 95vw;
    height: 200px;
  }
  .video-container iframe {
    width: 95vw;
    height: 200px;
  }
  .video-thumbnail {
    width: 95vw;
    height: 200px;
  }
  .insights {
    width: 100vw;
    padding: 40px 30px 10px;
  }
}

.video-section-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-section-right #video-right-video {
  width: 300px;
  height: 195px;
}
