@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1,
h2,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Montserrat;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

nav {
  display: flex;
  overflow: hidden;
  background-color: #f8f7f4;
  width: 100vw;
  padding: 5px 3%;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.2);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-left img {
  height: 100px;
  cursor: pointer;
}

.nav-left h1 {
  color: #0d0c22;
  font-size: 45px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-right a {
  font-weight: 500;
  font-size: 22px;
  color: #0d0c22;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-right a.active {
  color: #fe633d;
}

.nav-right a:hover {
  color: #fe633d;
}

.nav-right button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fe633d;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fe633d;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #fe633d;
}

.nav-right button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #fe633d;
}

.nav-right button:active {
  transform: scale(0.9);
}

nav i {
  font-size: 40px;
  color: #fe633d;
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main p.heading {
  margin-top: 60px;
  font-size: 45px;
  color: #333;
  margin-bottom: 50px;
}

/* Top Image */
.image {
  border-bottom: 1px solid #eeeded;
  /* margin-top: 20px; */
  padding-bottom: 60px;
  background-color: #fcfbf7;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
/* Banner */

.banner {
  transform: translateY(-60%);
  margin: 20px auto;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe633d;
  padding: 20px;
  color: #fff;
  width: 1200px;
}

.banner-left {
  padding-left: 20px;
}

.banner-center {
  width: 400px;
}

.banner button {
  cursor: pointer;
  padding: 15px 30px;
  margin-left: 10px;
  border-radius: 40px;
  border: none;
}

/* people */

.people {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.people video {
  height: 300px;
  border-radius: 10px;
  width: 250px;
  object-fit: cover;
}

/* Operations */
.operations {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 40px 80px;
  background-color: #fcfbf7;
}

.operation {
  margin-right: 80px;
  background-color: #fff;
  padding: 0px 30px;
  height: 540px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 40px;
  width: 300px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
}

.operations h1 {
  font-size: 33px;
}

.operations-card {
  margin-bottom: 20px;
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.operation h1 {
  font-weight: 600;
  margin-top: 20px;
}

.operation span {
  font-size: 40px;
  font-weight: 500;
}

.operation p {
  margin: 15px 0px;
  padding: 10px;
}

.operation button {
  cursor: pointer;
  border: none;
  background-color: #fe633d;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* First Card Styling */

/* .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  background: #f0eeee;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.card:nth-child(4),
.card:nth-child(5) {
  margin-bottom: 40px;
}

.card img {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 100px;
  border-radius: 50px;
}

.card h1 {
  font-weight: 600;
}

.card span {
  font-size: 40px;
  font-weight: 500;
}

.card p {
  padding: 10px;
}

.card button {
  cursor: pointer;
  border: none;
  background-color: #fe633d;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card:nth-child(1):hover {
  background-color: #caf1de;
}
.card:nth-child(2):hover {
  background-color: #caf1de;
}
.card:nth-child(3):hover {
  background-color: #caf1de;
}

.card:nth-child(4):hover {
  background-color: #fef8dd;
}

.card:nth-child(5):hover {
  background-color: #fef8dd;
} */

/* Alternate Card Styling */

.operations .sub-heading {
  margin: 10px 0px;
  font-size: 30px;
  text-decoration: underline;
}

.f1-cards,
.b1-cards {
  margin-bottom: 20px;
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 305px;
  height: 400px;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #c7c7c7;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1.5px #000;
  overflow: visible;
  margin: 20px;
  z-index: 100;
}

.card::before {
  content: "";
  width: 99%;
  height: 99%;
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.card:hover .card__icon {
  transform: rotate(0);
}

.card:hover .card__icon circle,
.card:hover .card__icon polyline,
.card:hover .card__icon line {
  stroke: var(--accent-color);
}

.card:hover .card__icon g {
  fill: var(--accent-color);
}

.card:hover {
  box-shadow: 0px 0px 20px -5px #000;
}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #000;
}

.card .top-sub {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 15px;
}

.card span {
  font-size: 16px;
  font-weight: 400;
}

.card h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.card .sm-head {
  margin-bottom: 15px;
  font-weight: 500;
}

.card i {
  font-size: 18px;
}

.card .des {
  margin-bottom: 5px;
  font-weight: 500;
}

.card .pricing-btn {
  position: relative;
  display: inline-block;
  padding: 7px 0px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  color: #000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #000;
}

.card .pricing-btn:hover {
  color: #fff;
  box-shadow: inset 0 -100px 0 0 #000;
}

.card .pricing-btn:active {
  transform: scale(0.9);
}

/* Notes */

.notes {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 40px 80px;
  border-bottom: 1px solid #eeeded;
}

.button-container {
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.button {
  font-style: italic;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  padding: 80px 50px;
  background-color: #ffa500;
  color: #1e3d6b;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: top 0.2s, box-shadow 0.2s;
}

.button.lined.thick {
  border: solid 3px #41403e;
}

.button:hover {
  top: -3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notepad {
  margin-top: 10px;
  overflow: visible;
  position: relative;
  width: 320px;
  height: 420px;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #c0c8ec;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 5px 55px;
}

.notepad::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 4px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 5px 55px;
}

.notepad.lined.thick {
  border: solid 3px #41403e;
}

.tape {
  border: 2px solid #000;
  border-radius: 4px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  position: absolute;
  top: 10px;
  left: -30px;
  width: 200px;
  height: 50px;
  background-color: #f5f5dc;
  transform: rotate(-15deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tape.lined.thick {
  border: solid 3px #41403e;
}

.holes {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hole {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.content {
  position: absolute;
  top: 75px;
  left: 30px;
  right: 20px;
  bottom: 20px;
  background-color: #c0c8ec;
}

/* Notes */

/* scroll */

.scroll {
  margin-top: 30px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  border-bottom: 1px solid #eeeded;
}
.contain {
  display: inline-block;
  animation: ani 50s infinite linear;
  font-size: 0;
}
.element {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-right: 20px;
}
.scroll img {
  width: 270px;
  height: 320px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin-bottom: 30px;
}

@keyframes ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

/* FAQ */
.faqs {
  padding: 40px 80px;
  border-bottom: 1px solid #eeeded;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faqs .title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.accordion {
  width: 800px;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.contentBx .acc-label {
  border: none;
  position: relative;
  padding: 10px;
  height: 60px;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #eeeded;
  cursor: pointer;
}

.contentBx .acc-label:hover {
  background: lightpink;
  color: #fff;
}

.contentBx .acc-label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.contentBx.active .acc-label::before {
  content: "-";
}

.contentBx .acc-content {
  position: relative;
  background: #fff;
  overflow-y: auto;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.contentBx.active .acc-content {
  height: 100px;
  padding: 10px;
  color: #000;
  border: 1px solid #eeeded;
}

/* Footer */

.footer {
  padding: 40px 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 20px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

footer h4 {
  font-size: 22px;
  padding-bottom: 20px;
}

footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 4px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
