@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1,
h2,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Montserrat;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

nav {
  display: flex;
  overflow: hidden;
  background-color: #f8f7f4;
  width: 100vw;
  padding: 5px 3%;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.2);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-left img {
  height: 100px;
  cursor: pointer;
}

.nav-left h1 {
  color: #0d0c22;
  font-size: 45px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-right a {
  font-weight: 500;
  font-size: 22px;
  color: #0d0c22;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-right a.active {
  color: #fe633d;
}

.nav-right a:hover {
  color: #fe633d;
}

button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fe633d;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fe633d;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #fe633d;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #fe633d;
}

button:active {
  transform: scale(0.9);
}

nav i {
  font-size: 40px;
  color: #fe633d;
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main p.heading {
  margin-top: 60px;
  font-size: 45px;
  color: #333;
  margin-bottom: 50px;
}

/* Top Image */
.image {
  margin-top: 20px;
  padding: 20px;
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
/* Banner */

.banner {
  margin: 20px auto;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe633d;
  padding: 20px;
  color: #fff;
  width: 1200px;
}

.banner-left {
  padding-left: 20px;
}

.banner-center {
  width: 400px;
}

.banner button {
  cursor: pointer;
  padding: 15px 30px;
  margin-left: 10px;
  border-radius: 40px;
  border: none;
}

/* people */

.people {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.people img {
  height: 300px;
  border-radius: 20px;
  width: 300px;
  object-fit: cover;
}

/* Operations */
.operations {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 40px 80px;
  background-color: #fcfbf7;
  position: relative;
}

.operation {
  margin-right: 80px;
  background-color: #fff;
  padding: 0px 30px;
  height: 540px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 40px;
  width: 300px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
}

.operations h1 {
  font-size: 33px;
}

.operations-card {
  margin-bottom: 20px;
  padding: 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.operation h1 {
  font-weight: 600;
  margin-top: 20px;
}

.operation span {
  font-size: 40px;
  font-weight: 500;
}

.operation p {
  margin: 15px 0px;
  padding: 10px;
}

.operation button {
  cursor: pointer;
  border: none;
  background-color: #fe633d;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 350px;
  height: 500px;
  border-radius: 30px;
  background: #f0eeee;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.card:nth-child(4),
.card:nth-child(5) {
  margin-bottom: 40px;
}

.card img {
  margin-top: 20px;
  margin-bottom: 5px;
  height: 100px;
  border-radius: 50px;
}

.card h1 {
  font-weight: 600;
}

.card span {
  font-size: 40px;
  font-weight: 500;
}

.card p {
  padding: 10px;
}

.card button {
  cursor: pointer;
  border: none;
  background-color: #fe633d;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.card:nth-child(1):hover {
  background-color: #caf1de;
}
.card:nth-child(2):hover {
  background-color: #caf1de;
}
.card:nth-child(3):hover {
  background-color: #caf1de;
}

.card:nth-child(4):hover {
  background-color: #fef8dd;
}

.card:nth-child(5):hover {
  background-color: #fef8dd;
}

/* Notes */

.notes {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 40px 80px;
  border-bottom: 1px solid #eeeded;
}

.button-container {
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}

.button {
  font-style: italic;
  display: inline-block;
  padding: 80px 50px;
  background-color: #ffa500;
  color: #1e3d6b;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #1e3d6b;
  border-radius: 5px;
  position: relative;
  top: 0;
  transition: top 0.2s, box-shadow 0.2s;
}

.button:hover {
  top: -3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notepad {
  margin-top: 10px;
  overflow: visible;
  position: relative;
  width: 320px;
  height: 420px;
  background-color: #c0c8ec;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.tape {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 200px;
  height: 50px;
  background-color: #f5f5dc;
  transform: rotate(-15deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.holes {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hole {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.content {
  position: absolute;
  top: 50px;
  left: 30px;
  right: 20px;
  bottom: 20px;
  background-color: #c0c8ec;
}

.notes img {
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

/* Footer */

.footer {
  padding: 40px 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 20px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

footer h4 {
  font-size: 22px;
  padding-bottom: 20px;
}

footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 4px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
