@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h1,
h2,
h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Montserrat;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.page1 {
  width: 100%;
}

nav {
  display: flex;
  overflow: hidden;
  background-color: #f8f7f4;
  width: 100vw;
  padding: 5px 3%;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.2);
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-left img {
  height: 100px;
  cursor: pointer;
}

.nav-left h1 {
  color: #0d0c22;
  font-size: 45px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.nav-right a {
  font-size: 22px;
  font-weight: 500;
  color: #0d0c22;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-right a.active {
  color: #fe633d;
}

.nav-right a:hover {
  color: #fe633d;
}

.nav-right button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fe633d;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fe633d;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #fe633d;
}

.nav-right button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #fe633d;
}

.nav-right button:active {
  transform: scale(0.9);
}

nav i {
  font-size: 40px;
  color: #fe633d;
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main p.heading {
  margin-top: 60px;
  font-size: 45px;
  color: #333;
  margin-bottom: 50px;
}

/* Content */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content h3 {
  cursor: pointer;
  font-size: 16px;
  background-color: #f5e8b0;
  padding: 5px;
  border-radius: 50px;
  padding: 12px;
  margin-top: 50px;
  justify-self: center;
  font-weight: 600;
  text-align: center;
}

.content h1 {
  margin-top: 35px;
  text-align: center;
  color: #0d0c22;
  font-size: 60px;
  justify-self: center;
  font-weight: 500;
}

.content p {
  text-align: center;
  margin-top: 20px;
  color: #0d0c22;
  font-size: 18px;
  letter-spacing: 1px;
}
.content button {
  font-weight: 300;
  margin-top: 40px;
  width: fit-content;
  height: fit-content;
  padding: 15px 25px;
  border-radius: 50px;
  justify-self: center;
  border: none;
  background-color: #0d0c22;
  color: white;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 40px;
}
.content button:hover {
  background-color: rgba(0, 0, 0, 0.649);
}

.scroll-title {
  padding: 40px 0;
  text-align: center;
  font-size: 40px;
  color: #0d0c22;
}

.scroll {
  margin-bottom: 50px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.contain {
  display: inline-block;
  animation: ani 50s infinite linear;
  font-size: 0;
}

.element {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-right: 20px;
}
.scroll img {
  width: 270px;
  height: 320px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
.scroll video {
  width: 270px;
  height: 320px;
  display: inline-block;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.element .text-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 15px;
  color: white;
  padding: 20px;
}
.text-bottom h4 {
  margin-top: 5px;
}
.text-c {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.text-c h5 {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.402);
  border-radius: 20px;
  padding: 5px 10px;
}
@keyframes ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

/* page 5 */
.page5 {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}

.page5 h4 {
  text-transform: uppercase;
  color: #ff3147;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 20px;
}

.page5 h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 40px;
}

.page5 .growth-section {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.growth-section .growth {
  height: 233px;
  width: 270px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.growth-section .growth:hover {
  box-shadow: 3px 6px 20px #672c2c1f;
}

.growth img {
  height: 35px;
}

.growth p:nth-of-type(1) {
  font-size: 60px;
}

.growth p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 300;
}

/* logos */
.logos {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.logos-section {
  border-top: 1px solid #eeeded;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logos-section h3 {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background-color: #fc7a3d;
  padding: 5px;
  border-radius: 50px;
  padding: 12px 30px;
  margin-top: 35px;
  justify-self: center;
  font-weight: 600;
}

.grey-logo {
  filter: grayscale(100%);
}

.logos img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

/* Services */
.services {
  overflow: hidden;
  padding: 60px 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

.services > p {
  color: #0d0c22;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.services .heading {
  font-size: 40px;
  overflow: hidden;
  color: #0d0c22;
  margin-bottom: 30px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.service-heading {
  display: flex;
  gap: 10px;
}

.service-heading .service-card-title {
  font-size: 20px;
}

.service {
  margin-bottom: 10px;
  padding: 20px;
  height: 220px;
  width: 380px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.service img {
  margin-bottom: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.service .service-des {
  font-size: 16px;
  color: #777676;
}

.service .card p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.service .card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #fc7a3d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 360px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #fc7a3d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 400px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(3);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(4.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 400px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 400px;
  background-color: #fff;
  border-radius: 4px;
  padding: 320px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 26px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}

/* Banner */

.banner {
  transform: translateY(-50%);
  margin: 0 auto;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe633d;
  padding: 20px;
  color: #fff;
  width: 1200px;
}

.banner-left {
  padding-left: 20px;
}

.banner-center {
  width: 400px;
}

.banner button {
  cursor: pointer;
  padding: 15px 30px;
  margin-left: 10px;
  border-radius: 40px;
  border: none;
  /* color: #fff; */
}

.banner button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
}

/* Reviews */
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px 80px;
  border-bottom: 1px solid #eeeded;
}

.review {
  text-align: center;
  height: 350px;
  width: 310px;
  /* background-color: lightblue; */
  padding: 20px;
}

.review i {
  font-size: 50px;
  color: #fe633d;
}
.review h1 {
  font-size: 40px;
}

.review button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #fff;
}

.review .review-title {
  margin: 5px 0px;
  font-size: 26px;
}

.review .review-des {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

/* Operations */
.operations {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 40px 80px;
  /* background-color: #fcfbf7; */
  position: relative;
}

.operation {
  position: relative;
  padding: 0px 10px;
  margin-right: 80px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
}

.operation:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.operations h1 {
  font-size: 40px;
  /* margin-right: 20px; */
}

.operations-card {
  margin-bottom: 40px;
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Hover Effect */

.card {
  --main-color: #323232;
  --sub-color: #5b5b5b;
  --bg-color: #c7c7c7;
  --accent-color: #242c88;
  position: relative;
  border: 1px solid #000;
  width: 300px;
  height: 420px;
  padding-top: 0px;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
  gap: 10px;
  background-color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  overflow: visible;
  box-shadow: 0px 0px 5px -1.5px #000;
}

.card::before {
  content: "";
  width: 99%;
  height: 99%;
  background: var(--sub-color);
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.card__icon circle,
polyline,
line {
  stroke: var(--main-color);
}

.card:hover .card__icon {
  transform: rotate(0);
}

.card:hover .card__icon circle,
.card:hover .card__icon polyline,
.card:hover .card__icon line {
  stroke: var(--accent-color);
}

.card:hover .card__icon g {
  fill: var(--accent-color);
}

.card:hover {
  box-shadow: 0px 0px 20px -5px #000;
}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #000;
}

.card__icon circle,
polyline,
line {
  stroke: var(--main-color);
}

.card:hover .card__icon {
  transform: rotate(0);
}

.card:hover .card__icon circle,
.card:hover .card__icon polyline,
.card:hover .card__icon line {
  stroke: var(--accent-color);
}

.card:hover .card__icon g {
  fill: var(--accent-color);
}

.card:hover {
  box-shadow: 0px 0px 20px -5px #000;
}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #000;
}

.st1 {
  fill: #fff;
}

.st2 {
  fill: none;
  stroke: #242c88;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st7 {
  fill: #589fff;
}

.st9 {
  fill: #bc8d66;
}

.st15,
.st16 {
  opacity: 0.4;
  fill: #242c88;
}

.st16 {
  opacity: 0.2;
}

.st18 {
  fill: #ffc408;
}

.st53 {
  fill: none;
  stroke: #242c88;
  stroke-width: 1.848;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.operation img {
  margin: 0 auto;
  margin-bottom: 5px;
  height: 130px;
  width: 130px;
  object-fit: contain;
  border-radius: 50%;
}

.operation .operation-title {
  /* padding: 12px; */
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.operation .operation-des {
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
}

.operation button {
  position: absolute;
  bottom: 20px;
  right: 120px;
  cursor: pointer;
  border: none;
  background-color: #fe633d;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.operation button a {
  text-decoration: none;
  color: #fff;
}

/* .testimonials .testimonials {
  border-bottom: 1px solid #eeeded;
  padding: 40px;
}

.stars {
  display: flex;
  gap: 5px;
}

.header-test {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}

.header-left span {
  color: #088178;
  text-decoration: underline;
}

.header-right span {
  color: #088178;
  font-size: 20px;
}

.header-left h1 {
  font-size: 40px;
  margin: 10px 0;
}

#author {
  margin-bottom: 10px;
}

.test-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.test-cards .card {
  background-color: #f3f4f6;
  padding: 2rem;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.test-cards .header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.test-cards .card .name {
  font-size: 20px;
}

.test-cards .header .image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: royalblue;
}

.stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgba(34, 197, 94, 1);
}

.stars svg {
  height: 1rem;
  width: 1rem;
}

.name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, 1);
}

.message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
} */

/* <----- New Testimonial----> */

/* .testimonials {
  border-bottom: 1px solid #eeeded;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .sub-head {
  text-transform: uppercase;
}

.testimonials h1 {
  margin-top: 10px;
  font-size: 40px;
}

.testimonials .testimonial-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.testimonial {
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  background-color: #fff;
}

.testimonial .stars {
  color: #ffd700;
  font-size: 25px;
  margin-bottom: 5px;
}

.testimonial h3 {
  margin: 0 0 10px 0;
  font-size: 17px;
  color: rgb(106, 102, 102);
  font-weight: 300;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 18px;
  font-weight: 300;
  color: rgb(83, 83, 83);
  margin-bottom: 20px;
}

.testimonial .user {
  display: flex;
  align-items: center;
}

.testimonial .user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial .user-info {
  display: flex;
  flex-direction: column;
}

.testimonial .name {
  font-size: 16px;
}

.testimonial .date {
  font-size: 16px;
  color: #888;
} */

/* Altertnate Testimonial */
.testimonials {
  border-bottom: 1px solid #eeeded;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  background-color: #d9c3db;
}

.testimonials .sub-head {
  text-transform: uppercase;
}

.testimonials h1 {
  margin-top: 10px;
  font-size: 40px;
}

.testimonials .testimonial-cards {
  display: flex;
  overflow: visible;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.testimonial {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding: 20px;
  position: relative;
  margin-top: 100px;
  width: 350px;
  border-radius: 10px;
}

.test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.test-left {
  border-top-right-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: -17%;
  left: -10%;
  z-index: 10;
  height: 60px;
  width: 200px;
  padding-top: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: purple;
}

.test-left > p {
  color: white;
}

.test-left .stars {
  color: gold;
  text-align: right;
}

.test-header img {
  right: 0;
  top: -20%;
  position: absolute;
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #fff;
}

.test-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.test-content .author {
  color: purple;
  font-size: 18px;
  text-transform: uppercase;
}

.test-content .content {
  color: rgb(61, 6, 61);
}

/* easy steps */
.easy-steps {
  position: relative;
  background-color: #fff9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 80px;
  gap: 20px;
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
}

.easy-steps h1 {
  font-size: 40px;
}

.small {
  color: #fe633d;
}

.easy-sub {
  max-width: 550px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.step {
  margin: 10px;
  height: 230px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
  padding: 30px;
  width: 230px;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
}

.step:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.step i {
  font-size: 45px;
}

#search-icon {
  color: #396ed2;
}

#cloud-icon {
  color: #fe633d;
}

#user-icon {
  color: #ebc36a;
}

#check-icon {
  color: #7558b2;
}

.step-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.step-des {
  color: #333;
}

/* Why we are different */

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 1px 3px;
  width: 350px;
  font-size: 16px;
  margin-bottom: 20px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
  padding-left: 5px;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.4rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

.different {
  border-bottom: 1px solid #eeeded;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfbf7;
}

.different > h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 50px;
}

.different-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  width: 920px;
  max-width: 100%;
}

.left {
  margin-top: 20px;
  background-color: #fdf7ed;
  padding: 30px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.left h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.left p {
  font-size: 16px;
  margin: 10px 0;
  color: #d07b3b;
}

.left .story-text {
  font-size: 14px;
  color: #7d7d7d;
}

.right {
  position: relative;
  left: -105px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 40px;
}

.right img.main {
  width: 100%;
  object-fit: contain;
  height: 470px;
  border-radius: 40px;
}

.right img.side {
  border-radius: 40px;
  position: absolute;
  top: 140px;
  right: 0px;
  width: 170px;
  height: auto;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: -0px;
  transform: translateY(-20%);
  transform: translateX(160%);
  background-color: #4a6e7b;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Resource Guide */
.resources-guide {
  padding: 40px 60px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.resources-guide h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.resources {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.resource {
  max-height: 250px;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
}

.resource img {
  height: 40px;
  margin-bottom: 10px;
}

.resource .resource-head {
  font-size: 26px;
  margin-bottom: 10px;
  color: #111111;
}

.resource .resource-des {
  margin-bottom: 15px;
  color: #111111;
  line-height: 1.2;
  font-size: 18px;
}

.resource button {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
}

.resource button:hover {
  text-decoration: underline;
}

/* Contact */

.contact-us {
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #eeeded;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contact-card {
  border-radius: 20px;
  padding: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #333243;
}

.contact-card .contact-image {
  height: 400px;
  object-fit: contain;
  border-radius: 15px;
}

.contact-card h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-card p {
  color: #fff;
  margin-bottom: 10px;
}

.contact-card button {
  padding: 20px 60px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.contact-card button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* blogs */
.blog .blog-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.blog-container img {
  height: 260px;
  width: 350px;
  border-radius: 10px;
  display: block;
}

.image-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.blog-container:hover .image-bottom {
  opacity: 1;
}

.blog-text {
  margin: 0;
}

.image-bottom-right {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 24px;
}

.blog-bottom {
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-bottom-right {
  display: flex;
  gap: 10px;
}

.blog-bottom-left {
  color: #333;
}

.blog-bottom-right p {
  color: gray;
  font-size: 13px;
}

/* Videos */

.video {
  height: 300px;
  border-radius: 10px;
  width: 250px;
  object-fit: cover;
  transition: filter 0.3s;
  cursor: pointer;
}

.video.blur {
  filter: blur(4px);
}

/* Footer */

.footer {
  border-top: 1px solid #eeeded;
  padding: 40px 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 20px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

footer h4 {
  font-size: 22px;
  padding-bottom: 20px;
}

footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 4px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* Media Queries for Responsiveness */

/* For Laptop */
@media screen and (max-width: 1400px) {
  /* Resource Guide */
  .resources-guide {
    padding: 20px 30px;
  }

  .resource {
    max-height: 350px;
    width: 300px;
  }

  .resource img {
    height: 35px;
  }

  .resource .resource-head {
    font-size: 26px;
  }

  .resource .resource-des {
    font-size: 16px;
  }

  .resource button {
    font-size: 16px;
  }
}

/* For IPad */
@media screen and (max-width: 1265px) {
  nav {
    padding: 25px 3%;
  }

  .nav-left {
    gap: 10px;
  }

  .nav-left img {
    height: 40px;
  }

  .nav-left h1 {
    font-size: 30px;
  }

  .nav-right {
    gap: 30px;
  }
  /* Logos */
  .logos img {
    height: 70px;
    width: 70px;
    object-fit: contain;
  }
  /* Operation */
  .operation:nth-child(2) {
    margin-top: 0px;
  }

  .operation:nth-child(3) {
    margin-top: 0px;
  }
  /* Banner */
  .banner {
    height: 100px;
    width: 780px;
  }
  .banner-left h1 {
    font-size: 26px;
  }
  .banner-left p {
    font-size: 14px;
  }
  .banner-center {
    width: 340px;
  }
}

@media screen and (max-width: 1520px) {
  .operation {
    margin-right: 0px;
  }
  .operations-card {
    padding: 0px 20px;
    gap: 40px;
  }
  .review {
    height: 270px;
    width: 230px;
  }
  .review i {
    font-size: 40px;
  }
  .review h1 {
    font-size: 30px;
  }
  .review .review-title {
    font-size: 20px;
  }

  .review .review-des {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  .nav-right {
    display: none;
  }
  nav i {
    display: flex;
    padding-right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .operations {
    padding: 40px 40px;
  }
  .banner-center {
    display: none;
  }
  .banner {
    width: 500px;
  }
  .contact-card {
    padding: 20px 40px;
    flex-direction: column;
  }
  .contact-card .contact-image {
    height: 300px;
  }
  .contact-card button {
    margin-left: 80px;
  }
}

@media screen and (max-width: 600px) {
  .content h3 {
    padding: 5px;
  }
  .content h1 {
    font-size: 45px;
  }
  .banner {
    width: 370px;
  }
  .contact-card .contact-image {
    height: 150px;
  }
  .resources-guide h1 {
    text-align: center;
  }
  .reviews {
    gap: 10px;
  }

  .right {
    display: none;
  }

  .arrow {
    display: none;
  }
}
